<nav class="navbar sticky-top">
    <div class="container-fluid">
        <div class="justify-content-md-start">
            <button id="toggle-sidebar" class="me-3 btn btn-outline-success">
                <i class="bi bi-list"></i>
            </button>
            <a class="navbar-brand" href="#">ToDoList ni Dyze</a>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</nav>

<script>


</script>